*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
    justify-content: center;
    gap: 30px;
}



header {
    border: 5px solid red;
    font-size: 40px;
    font-weight: 900;
    color: #2cd52c;
    padding: 20px 0;

}

.ctaText, .resultText {
    color: antiquewhite;
    font-size: 20px;
    border: 5px solid red;
}

.selections {
    display: flex;
    justify-content: center;
    gap: 25px; 
    border: 5px solid red;
}

img {
    height: 180px;
    width: auto;
    display: flex;
    border: 5px solid blue;
}

button {
    background-color: #2cd52c;
    border: none;
    border: 5px solid red;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.results div {
    min-width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: stretch;
}

.score {
    font-size: 200px;
    color: aliceblue;
    border: 3px solid rebeccapurple;
}

.userName {
    font-size: 25px;
    color: aliceblue;
    
}

.choiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 3px solid rebeccapurple;
}