*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 100px;
    width: auto;
}

button {
    background-color: grey;
    border: 3px solid black;
}